<!DOCTYPE html>
<html>
<head>
    <style>
        select {
            width: 500px;
        }
        select:focus {
            min-width: 500px;
            width: auto;
        }    
    </style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<p>Level of Knowledge on start of course</p>
  <select >
      <option>Very Good</option>
      <option>Good</option>
      <option>Medium</option>
      <option>Bad</option>
  </select>
  <br>
  <br>
  <p>Level of effort invested in course</p>
  <select >
      <option>Very Good</option>
      <option>Good</option>
      <option>Medium</option>
      <option>Bad</option>
  </select>
  <br>
  <br>
  <p>Level of Knowledge at the end of the course</p>
  <select >
      <option>Very Good</option>
      <option>Good</option>
      <option>Medium</option>
      <option>Bad</option>
  </select>
  <br>
  <br>
  <p>Would you recommend this course to other student?</p>
  <select >
      <option>Yes</option>
      <option>No</option>

  </select>
  <br><br>
  <button>Sumbit</button>
</body>
</html>
